html {
  font-family: 'Century Gothic', sans-serif;
}

body {
  background-color: #D4D4D4;
}


.bot-margin {
  margin-bottom: 15px !important;
}


#index_body {
  background: url(../img/pms.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#index_container {
  margin-top: 15%
}

.btn {
  border-radius: 1px
}

.btn-height {
  height: 180px;
  font-weight: bold;
  -webkit-box-shadow: 9px 10px 39px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 39px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 39px -4px rgba(0, 0, 0, 0.75);
  font-family: 'Century Gothic', sans-serif;
}


.container {
  padding-top: 20px;
}

#leasing_login {
  background-color: #E8E5E5;
}

.jumbotron_leasing {
  background-color: #29B6D8;
  height: 200px;
}

.jumbotron_portal {
  background-color: #642800;
  height: 200px;
}

.button-orange {
  color: #fff;
  background-color: #642800;
  border-color: #a94707;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-control:focus {
  border-color: #7D847D;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.account-wall {
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-title {
  color: #555;
  font-size: 18px;
  font-weight: 400;
  display: block;
}

.profile-img {
  /*width: 120px;*/
  height: 120px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 10%;
  -webkit-border-radius: 10%;
  border-radius: 10%;
}

.need-help {
  margin-top: 10px;
}

.new-account {
  display: block;
  margin-top: 10px;
}


.leasingLogin_form {
  position: absolute;
  width: 100%;
  top: 60px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.text-success {
  color: whitesmoke;
}

.brand-img {
  position: absolute;
  top: 4px;
}

#leasing_navbar {
  margin-bottom: 0px;
  border-bottom: solid 2px #D7D8D7;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.50);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.50);
  -o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.50);
  -khtml-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.50);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.50);
  background-color: #01465F
}


.navbar {
  border-radius: 1px;
  font-weight: bold
}

ul.nav.navbar-nav li a {
  color: #DFDBDB;
  font-size: 12px;
  font-family: "Proxima Nova", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: bold;
  line-height: 20px;
}

/* ul.nav.navbar-nav li a:hover {
  color: #f7f7f7;
} */
ul.nav.navbar-nav li a:hover{color:#e7620e;}


#leasing_navbar .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
  background-color: #01465F;
  color:#e7620e;
}

#leasing_navbar .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > .dropdown-menu{
  background-color: #01465F;
  color:#e7620e;
}

#leasing_navbar .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > .dropdown-menu li a:hover{
  background-color: #01465F;
  color:#e7620e;
}

.cfs-navbar .navbar-nav>.open>a,
.cfs-navbar .navbar-nav>.open>a:hover,
.cfs-navbar .navbar-nav>.open>a:focus {
  background-color: #125821 !important;
  color: #fff;
}

.cfs-navbar .navbar-nav>.open>a,
.cfs-navbar .navbar-nav>.open>a:hover,
.cfs-navbar .navbar-nav>.open>.dropdown-menu {
  background-color: #125821 !important;
  ;
  color: #fff;
}

.cfs-navbar .navbar-nav>.open>a,
.cfs-navbar .navbar-nav>.open>a:hover,
.cfs-navbar .navbar-nav>.open>.dropdown-menu li a:hover {
  background-color: #125821 !important;
  ;
  color: #fff;
}

.navbar-default .navbar-nav>li>a:focus {
  color: #DFDBDB;
  background-color: transparent;
}

.well {

  -webkit-box-shadow: 1px 3px 16px -2px rgba(10, 10, 10, 1);
  -moz-box-shadow: 1px 3px 16px -2px rgba(10, 10, 10, 1);
  box-shadow: 1px 3px 16px -2px rgba(10, 10, 10, 1);
  border-radius: 0px;

}

.nav-container {
  margin-left: 80px;
}

.greeting {
  font-family: Century Gothic, sans-serif;
  font-weight: bolder;
  font-size: 30px;
  color: #01465F;
}

.dateTime p {
  color: #01465F;
  font-family: Century Gothic, sans-serif;
  font-weight: bolder !important;
  font-size: 20px;
  margin-top: 5px;
}

ul.multi-level li {
  padding-top: 5px;
  padding-bottom: 5px;
}

ul.multi-level li a {
  font-weight: normal;
}

.multi-level,
.dropdown-menu {
  border-radius: 0px !important;
}

.dropdown-menu {
  background-color: #01465F
}

.panel-default>.panel-leasing {
  background-color: #01465F;
  border-radius: 0px;
  font-family: "Proxima Nova", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: bold;
  font-size: 20px;
  color: whitesmoke;
}

.panel-default>.panel-portal {
  background-color: #642800;
  border-radius: 0px;
  font-family: "Proxima Nova", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: bold;
  font-size: 20px;
  color: whitesmoke;
}

.panel-default>.panel-cfs {
  background-color: #125821;
  border-radius: 0px;
  font-family: "Proxima Nova", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: bold;
  font-size: 20px;
  color: whitesmoke;
}

.panel-heading {
  font-family: "Proxima Nova", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: bold;
  font-size: 20px;
  color: whitesmoke;
}

.form-control {
  border-radius: 0px;
}

.search-query {
  margin-bottom: 15px;
}

div.btn-group ul {
  background-color: #fff
}

.modal-content {
  border-radius: 0px;
  top: -20px;
}

.modal-header {
  background-color: #1B81A9;
  color: whitesmoke;
}

.modal-title {
  font-weight: bold
}

label {
  margin-bottom: 0px;
  line-height: 3 font-family: "Proxima Nova", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: bold;
  font-size: 12px;
  margin-top: 5px;
}

.fa-asterisk {
  color: red;
  font-size: 10px;
}

* {
  .border-radius(0) !important;
}


#field,
#select {
  margin-bottom: 5px;
}

.add-more,
.add-bank {
  position: absolute;
  top: 0px;
  right: -22px;
  margin-top: 1px;
}

/*.add-bank{
    position: absolute;
    top: 0px;
    right: -22px;
    margin-top: 1px;
}*/
.remove-me,
.remove-bank {
  position: absolute;
  right: -18px;
  margin-top: 5px;
}

input.ng-invalid.ng-dirty {
  border-color: #D71818;
}

a {
  color: #333;
}

a:hover {
  color: inherit;
}

.error-display {
  color: #D71818;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.fa-check {
  color: #137113;
}

#confirmation_modal {
  top: 15%;
}

#confirm_msg {
  font-size: 15px;
  font-weight: bold;
  color: #B91A1A;
  font-family: "Proxima Nova", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

textarea.form-control {
  height: auto;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 10px
}

label {
  line-height: 2
}

textarea.ng-invalid.ng-dirty {
  border-color: #D71818;
}



.row {
  margin-bottom: 10px;
}

.currency {
  text-align: right;
  font-weight: bold
}

.currency-align {
  text-align: right
}

.input-group-addon {
  padding: 6px 20px;
  border-radius: 0px;
}

input[type="text"][readonly],
input[type="date"][readonly] {
  background: #fff;
  cursor: no-drop;
  box-shadow: none;
}

.squared {
  padding: 6px 15px;
}

.percent {
  padding: 6px 19px;
}

.tab-content>.tab-pane {
  padding: 20px 10px 10px 10px;
}

.nav-tabs>li>a {
  margin-right: 2px;
  font-weight: bold;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 0px;
}

.nav-tabs>li>a:hover {
  margin-right: 2px;
  font-weight: bold;
  color: #555;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 0px;
}

div.modal-xl .modal-content {
  top: -20px;
}

.progress {
  background-color: #E4E3E3;
  border-radius: 1px;
}

.input-date {
  padding: 6px 18px;
}

._720kb-datepicker-calendar._720kb-datepicker-open {
  visibility: visible;
  border: 1px solid #D8CDCD;
  border-radius: 0px;
}

._720kb-datepicker-calendar-header:nth-child(odd) {
  background: #1B81A9;
}

#sourcetable tbody tr:hover,
#destinationtable tbody tr:hover {
  cursor: pointer;
}

h3.spin .fa-spin {
  color: #D2D2D2;
  margin-top: 18%;
  margin-left: 50%;
}

.process {
  font-size: 18px !important;
  font-weight: bold;
  color: #01465f;
  margin-top: 18%;
  margin-left: 49%;
}

.i-am-new {
  border-radius: 0px !important;
}

.details {
  line-height: 2.2;
  font-size: 15px;
  font-family: fantasy;
}

.title-header {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 18px;
  color: #1B81A9;
}

.red,
.fa-thumbs-down {
  color: #B71C1C;
}

.green,
.fa-thumbs-up {
  color: #137113;
}

.thumbnail-header {
  font-weight: bold;
}

#carousel_modal {
  background: #000;
}

ul.nav-tabs li a {
  font-size: 12px;
}

.modal-sm {
  width: 350px;
}

#manager_modal {
  top: 20%;
}

.btn-green {
  color: #fff;
  background-color: #227B4E;
  border-bottom: 2px solid #10653A;
}

.tilt {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.tilt:hover {
  -webkit-transform: scale(1.1);
  /* Safari and Chrome */
  -moz-transform: scale(1.1);
  /* Firefox */
  -ms-transform: scale(1.1);
  /* IE 9 */
  -o-transform: scale(1.1);
  /* Opera */
  transform: scale(1.1);
}

h2 {
  color: #444444;
  font-family: 'MEgalopolisExtraRegular';
  text-transform: uppercase;
  text-shadow: -1px -1px 1px #000000, 1px 1px 1px #CCCCCC;
}

.thumbnail-menu {
  -webkit-box-shadow: 3px 7px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 7px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 7px 20px 0px rgba(0, 0, 0, 0.75);
}

.hours {
  font-family: fantasy;
  color: #337AB7;
}


.cover {
  background: url(../img/bg2.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.panel-default {
  border-radius: 0px;
}

.sourcetable tbody tr:hover {
  cursor: pointer;
}

.note {
  font-size: 15px;
  font-weight: bold;
}

.total {
  font-size: 18px;
}

.click-to-preview {
  color: #01465f;
  font-weight: bold;
  line-height: 2;
}

a.click-to-preview:hover {
  color: #01465f;
  text-decoration: underline;
}

.alert-info {
  border-radius: 0px;
}

.btn span.glyphicon {
  opacity: 0;
}

.btn.active span.glyphicon {
  opacity: 1;
}

.no-padding {
  margin-bottom: 0px !important;
}

.invoice-label {
  font-size: 15px;
  font-weight: normal;
}

.invoice-total {
  font-size: 15px;
  font-weight: bold
}

.small-print-button {
  padding-bottom: 2px;
  padding-top: 2px
}

#reason_termination {
  width: 70%
}

.large-label {
  font-size: 15px
}

/*#printPreview_frame{height: 100%; width: 100%}*/

.print-dashboard {
  border-style: double;
  padding-top: 5px;
  padding-top: 4px;
  padding-left: 5px;
  padding-right: 5px;
  color: #4F6986;
}

.side-divider {
  border-right: solid 2px #1B81A9;
}

.header-title {
  font-weight: bold;
  color: #337AB7;
}

thead {
  font-size: 13px;
  font-weight: bolder
}

tbody tr {
  font-size: 12px;
}

.emphasize {
  font-weight: bold;
  text-transform: uppercase;
}

.btn-info {
  height: 34;
}









/*SPINNER CSS*/

.spin {
  margin-top: 20%;
  margin-left: 20%
}

#fountainTextG {
  width: 480px;
  margin: auto;
}

.fountainTextG {
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 50px;
  text-decoration: none;
  font-weight: bolder;
  font-style: normal;
  float: left;
  animation-name: bounce_fountainTextG;
  -o-animation-name: bounce_fountainTextG;
  -ms-animation-name: bounce_fountainTextG;
  -webkit-animation-name: bounce_fountainTextG;
  -moz-animation-name: bounce_fountainTextG;
  animation-duration: 2.09s;
  -o-animation-duration: 2.09s;
  -ms-animation-duration: 2.09s;
  -webkit-animation-duration: 2.09s;
  -moz-animation-duration: 2.09s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  transform: scale(.5);
  -o-transform: scale(.5);
  -ms-transform: scale(.5);
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
}

#fountainTextG_1 {
  animation-delay: 0.75s;
  -o-animation-delay: 0.75s;
  -ms-animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
}

#fountainTextG_2 {
  animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
}

#fountainTextG_3 {
  animation-delay: 1.05s;
  -o-animation-delay: 1.05s;
  -ms-animation-delay: 1.05s;
  -webkit-animation-delay: 1.05s;
  -moz-animation-delay: 1.05s;
}

#fountainTextG_4 {
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
}

#fountainTextG_5 {
  animation-delay: 1.35s;
  -o-animation-delay: 1.35s;
  -ms-animation-delay: 1.35s;
  -webkit-animation-delay: 1.35s;
  -moz-animation-delay: 1.35s;
}

#fountainTextG_6 {
  animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
}

#fountainTextG_7 {
  animation-delay: 1.64s;
  -o-animation-delay: 1.64s;
  -ms-animation-delay: 1.64s;
  -webkit-animation-delay: 1.64s;
  -moz-animation-delay: 1.64s;
}




@keyframes bounce_fountainTextG {
  0% {
    transform: scale(1);
    color: rgb(255, 255, 255);
  }

  100% {
    transform: scale(.5);
    color: rgb(255, 255, 255);
  }
}

@-o-keyframes bounce_fountainTextG {
  0% {
    -o-transform: scale(1);
    color: rgb(255, 255, 255);
  }

  100% {
    -o-transform: scale(.5);
    color: rgb(255, 255, 255);
  }
}

@-ms-keyframes bounce_fountainTextG {
  0% {
    -ms-transform: scale(1);
    color: rgb(255, 255, 255);
  }

  100% {
    -ms-transform: scale(.5);
    color: rgb(255, 255, 255);
  }
}

@-webkit-keyframes bounce_fountainTextG {
  0% {
    -webkit-transform: scale(1);
    color: rgb(255, 255, 255);
  }

  100% {
    -webkit-transform: scale(.5);
    color: rgb(255, 255, 255);
  }
}

@-moz-keyframes bounce_fountainTextG {
  0% {
    -moz-transform: scale(1);
    color: rgb(255, 255, 255);
  }

  100% {
    -moz-transform: scale(.5);
    color: rgb(255, 255, 255);
  }
}

.cfs-navbar {

  margin-bottom: 0px;
  border-bottom: solid 2px #D7D8D7;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.50);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.50);
  -o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.50);
  -khtml-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.50);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.50);
  background-color: #125821 !important;
}

.portal-navbar {

  margin-bottom: 0px;
  border-bottom: solid 2px #D7D8D7;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.50);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.50);
  -o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.50);
  -khtml-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.50);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.50);
  background-color: #642800 !important;
}

.cfs-background {
  background-color: #125821;
}

/* CSS used here will be applied after bootstrap.css */




.notifications {
  min-width: 420px;
}

.notifications-wrapper {
  overflow: auto;
  max-height: 250px;
}

.glyphicon-circle-arrow-right {
  margin-left: 10px;
}


.notification-heading,
.notification-footer {
  padding: 2px 10px;
}


.dropdown-menu.divider {
  margin: 5px 0;
}

.item-title {
  font-size: 1.3rem;
  color: #000;
}

.notifications a.content {
  text-decoration: none;
  background: #ccc;
}

.notification-item {
  padding: 10px;
  margin: 5px;
  background: #48889c;
  border-radius: 1px;
}



.system-title {
  background-color: #01465f;
  color: #b9b9b9;
  font-weight: bolder;
  padding-bottom: 10px;
}

div.system-title>h1 {
  font-weight: bold;
  font-family: monospace;
}

div.system-desc {
  background-color: #585d61;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  -webkit-box-shadow: 0px 4px 7px 1px rgba(59, 59, 59, 1);
  -moz-box-shadow: 0px 4px 7px 1px rgba(59, 59, 59, 1);
  box-shadow: 0px 4px 7px 1px rgba(59, 59, 59, 1);
}

div.system-desc>p {
  text-indent: 8rem;
  color: #b9b9b9;
  font-weight: bold;
  font-size: 15px;
}

img.about-thumbnail {
  height: 200px
}

.thumbnail .caption {
  background-color: #009688;
  height: 60px;
}

.thumbnail .caption h5 {
  color: #fff;
  font-weight: bold;
  text-align: center
}

.about-position {
  height: 150px;
  text-align: center;
  padding-top: 30px;
  color: #293c3c;
  font-size: 15px;
  font-weight: bold
}

.status {
  padding-top: 10px;
}

.about-label {
  font-size: 90% !important;
  border-radius: 0px;
}

.module {
  text-align: left;
  padding-left: 20%;
  font-style: italic;
  font-size: 13px;
}

.about-individual {
  -webkit-box-shadow: -3px 2px 12px 1px rgba(59, 59, 59, 1);
  -moz-box-shadow: -3px 2px 12px 1px rgba(59, 59, 59, 1);
  box-shadow: -3px 2px 12px 1px rgba(59, 59, 59, 1);
}


.table-loader {
  margin-left: 47%;
}

.table-loader>img {
  width: 8%;
}



/* Copy Bootstrap 4 marging and padding classes */

.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.back-link:hover {
  color: #d65204;
}

.back-link {
  color: whitesmoke;
}


/* ------------------------------buttons-------------------------------- */

.button-b {
	touch-action: manipulation;
	background-image: linear-gradient(#4098ff, #4058ff 62%, #4075ff);
	border: .5px solid #3247cf;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, .12) 0 1px 3px, rgba(0, 0, 0, .14) 0 1px .5px, rgba(182, 229, 255, .4) 0 1px .5px inset, rgba(23, 45, 202, .46) 0 -1px .5px inset, #233ced 0 0 0 .5px inset;
	color: #fff;
	font-weight: 600;
	outline: 3px #fff;
	outline-offset: 0;
	position: relative;
	text-shadow: #233ced 0 -1px .5px;
	top: 0;
	display: inline-block;
	font-size: 14px;
	line-height: 100%;
	padding: 8px 10px 8px;
	text-shadow: 1px 1px #000;
  
  
	/* optional */
	transition-property: outline-offset, border-color, transform;
	transition-duration: .2s;
  }
  
  .button-b:active, .button-b:hover {
	outline: 0;
  }
  
  .button-b:hover {
	background-image: linear-gradient(#40a6ff, #4058ff 62%, #4075ff);
	box-shadow: rgba(0, 0, 0, .12) 0 2px 6px, rgba(0, 0, 0, .14) 0 1px .5px, rgba(182, 229, 255, .4) 0 1px .5px inset, rgba(23, 45, 202, .46) 0 -1px .5px inset, #233ced 0 0 0 .5px inset;
	opacity: 1;
  
	/* optional */
	transform: scale(1.04);
  }
  
  .button-b:active {
	background-image: linear-gradient(#0a40ce, #4058ff 38%, #40a0ff);
	border-color: #192ba1;
	box-shadow: #0b1c95 0 1px inset, transparent 0 -1px .5px inset, rgba(13, 33, 176, .53) 0 2px .5px inset, rgba(35, 60, 237, .31) 0 0 0 .5px inset;
	text-shadow: #233ced 0 1px .5px;
  
	/* optional */
	transform: scale(.98);
  }
  /* ----------------- */
  
  .button-g {
	touch-action: manipulation;
	background-image: linear-gradient(#5cbc5c, #5cbc5c 62%, #4cac4c);
	border: .5px solid #4cac4c;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, .12) 0 1px 3px, rgba(0, 0, 0, .14) 0 1px .5px, rgba(182, 229, 255, .4) 0 1px .5px inset, rgba(27, 227, 64, 0.46) 0 -1px .5px inset, #056d04 0 0 0 .5px inset;
	color: #fff;
	font-weight: 600;
	outline: 3px #fff;
	outline-offset: 0;
	position: relative;
	top: 0;
	display: inline-block;
	font-size: 14px;
	line-height: 100%;
	padding: 8px 10px 8px;
	text-shadow: 1px 1px #000;
  
  
	/* optional */
	transition-property: outline-offset, border-color, transform;
	transition-duration: .2s;
  }
  
  .button-g:active, .button-g:hover {
	outline: 0;
  }
  
  .button-g:hover {
	background-image: linear-gradient(#5cbc5c, #5cbc5c 62%, #4cac4c);
	box-shadow: rgba(0, 0, 0, .12) 0 2px 6px, rgba(0, 0, 0, .14) 0 1px .5px, rgba(182, 229, 255, .4) 0 1px .5px inset, rgba(50, 226, 106, 0.46) 0 -1px .5px inset, #11d060 0 0 0 .5px inset;
	opacity: 1;
  
	/* optional */
	transform: scale(1.04);
  }
  
  .button-g:active {
	background-image: linear-gradient(#5cbc5c, #5cbc5c 38%, #4cac4c);
	border-color: #3c893c;
	box-shadow: #3c893c 0 1px inset, transparent 0 -1px .5px inset, rgba(29, 180, 54, 0.53) 0 2px .5px inset, rgba(50, 233, 59, 0.31) 0 0 0 .5px inset;
	text-shadow: #3c893c 0 1px .5px;
  
	/* optional */
	transform: scale(.98);
  }
  
  /* -------------- */
  .button-r {
	touch-action: manipulation;
	background-image: linear-gradient(#db524b, #db524b 62%, #d73e36);
	border: .5px solid #d73e36;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, .12) 0 1px 3px, rgba(0, 0, 0, .14) 0 1px .5px, rgba(182, 229, 255, .4) 0 1px .5px inset, rgba(218, 68, 52, 0.46) 0 -1px .5px inset, #fb3333 0 0 0 .5px inset;
	color: #fff;
	font-weight: 600;
	outline: 3px #fff;
	outline-offset: 0;
	position: relative;
	top: 0;
	display: inline-block;
	font-size: 14px;
	line-height: 100%;
	padding: 8px 10px 8px;
	text-shadow: 1px 1px #000;
  
	/* optional */
	transition-property: outline-offset, border-color, transform;
	transition-duration: .2s;
  }
  
  .button-r:active, .button-r:hover {
	outline: 0;
  }
  
  .button-r:hover {
	background-image: linear-gradient(#db524b, #db524b 62%, #d73e36);
	box-shadow: rgba(0, 0, 0, .12) 0 2px 6px, rgba(0, 0, 0, .14) 0 1px .5px, rgba(182, 229, 255, .4) 0 1px .5px inset, rgba(255, 49, 49, 0.46) 0 -1px .5px inset, #fa2222 0 0 0 .5px inset;
	opacity: 1;
  
	/* optional */
	transform: scale(1.04);
  }
  
  .button-r:active {
	background-image: linear-gradient(#db524b, #db524b 38%, #d73e36);
	border-color: #cb3029;
	box-shadow: #cb3029 0 1px inset, transparent 0 -1px .5px inset, rgba(255, 15, 15, 0.53) 0 2px .5px inset, rgba(35, 60, 237, .31) 0 0 0 .5px inset;
	text-shadow: #cb3029 0 1px .5px;
  
	/* optional */
	transform: scale(.98);
  }
    /* -------------- */
    .button-w {
      touch-action: manipulation;
      background-image: linear-gradient(#e6e6e6, #e6e6e6 62%, #ececec);
      border: .5px solid #c2c2c2;
      border-radius: 6px;
      box-shadow: rgba(0, 0, 0, .12) 0 1px 3px, rgba(0, 0, 0, .14) 0 1px .5px, rgba(182, 229, 255, .4) 0 1px .5px inset, rgba(234, 234, 234, 0.46) 0 -1px .5px inset, #2e2e2e 0 0 0 .5px inset;
      /* color: #fff; */
      font-weight: 600;
      /* outline: 3px #fff; */
      outline-offset: 0;
      position: relative;
      top: 0;
      display: inline-block;
      font-size: 14px;
      line-height: 100%;
      padding: 8px 10px 8px;
      text-shadow: 1px 1px #ffffff;
      
      /* optional */
      transition-property: outline-offset, border-color, transform;
      transition-duration: .2s;
      }
      
      .button-w:active, .button-w:hover {
      outline: 0;
      }
      
      .button-w:hover {
      background-image: linear-gradient(#e6e6e6, #e6e6e6 62%, #ececec);
      box-shadow: rgba(0, 0, 0, .12) 0 2px 6px, rgba(0, 0, 0, .14) 0 1px .5px, rgba(182, 229, 255, .4) 0 1px .5px inset, rgba(223, 223, 223, 0.46) 0 -1px .5px inset, #c7c7c7 0 0 0 .5px inset;
      opacity: 1;
      
      /* optional */
      transform: scale(1.04);
      }
      
      .button-w:active {
      background-image: linear-gradient(#e6e6e6, #e6e6e6 38%, #ececec);
      border-color: #ececec;
      box-shadow: #ececec 0 1px inset, transparent 0 -1px .5px inset, rgba(248, 248, 248, 0.53) 0 2px .5px inset, rgba(235, 235, 235, 0.31) 0 0 0 .5px inset;
      text-shadow: #ececec 0 1px .5px;
      
      /* optional */
      transform: scale(.98);
      }
  /* -------------- */
  .button-update {
	touch-action: manipulation;
	background-image: linear-gradient(#ec972c, #ec972c 62%, #e98b15);
	border: .5px solid #e98b15;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, .12) 0 1px 3px, rgba(0, 0, 0, .14) 0 1px .5px, rgba(182, 229, 255, .4) 0 1px .5px inset, rgba(218, 68, 52, 0.46) 0 -1px .5px inset, #fffb25 0 0 0 .5px inset;
	color: #fff;
	font-weight: 600;
	outline: 3px #fff;
	outline-offset: 0;
	position: relative;
	top: 0;
	display: inline-block;
	font-size: 12px;
	line-height: 100%;
	padding: 5px 10px 5px;
  
	/* optional */
	transition-property: outline-offset, border-color, transform;
	transition-duration: .2s;
  }
  
  .button-update:active, .button-update:hover {
	outline: 0;
  }
  
  .button-update:hover {
	background-image: linear-gradient(#ec972c, #ec972c 62%, #e98b15);
	box-shadow: rgba(0, 0, 0, .12) 0 2px 6px, rgba(0, 0, 0, .14) 0 1px .5px, rgba(182, 229, 255, .4) 0 1px .5px inset, rgba(225, 239, 37, 0.46) 0 -1px .5px inset, #fff717 0 0 0 .5px inset;
	opacity: 1;
  
	/* optional */
	transform: scale(1.04);
  }
  
  .button-y:active {
	background-image: linear-gradient(#ec972c, #ec972c 38%, #e98b15);
	border-color: #eea343;
	box-shadow: #eea343 0 1px inset, transparent 0 -1px .5px inset, rgba(255, 242, 1, 0.53) 0 2px .5px inset, rgba(35, 60, 237, .31) 0 0 0 .5px inset;
	text-shadow: #eea343 0 1px .5px;
  
	/* optional */
	transform: scale(.98);
  }
  
  /* -------------- */
  .button-caret {
	touch-action: manipulation;
	background-image: linear-gradient(#db524b, #db524b 62%, #d73e36);
	border: .5px solid #d73e36;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, .12) 0 1px 3px, rgba(0, 0, 0, .14) 0 1px .5px, rgba(182, 229, 255, .4) 0 1px .5px inset, rgba(218, 68, 52, 0.46) 0 -1px .5px inset, #fb3333 0 0 0 .5px inset;
	color: #fff;
	font-weight: 600;
	outline: 3px #fff;
	outline-offset: 0;
	position: relative;
	top: 0;
	display: inline-block;
	font-size: 12px;
	line-height: 100%;
	padding: 4px 5px 4px;
  
	/* optional */
	transition-property: outline-offset, border-color, transform;
	transition-duration: .2s;
  }
  
  .button-caret:active, .button-caret:hover {
	outline: 0;
  }
  
  .button-caret:hover {
	background-image: linear-gradient(#db524b, #db524b 62%, #d73e36);
	box-shadow: rgba(0, 0, 0, .12) 0 2px 6px, rgba(0, 0, 0, .14) 0 1px .5px, rgba(182, 229, 255, .4) 0 1px .5px inset, rgba(255, 49, 49, 0.46) 0 -1px .5px inset, #fa2222 0 0 0 .5px inset;
	opacity: 1;
  
	/* optional */
	transform: scale(1.04);
  }
  
  .button-caret:active {
	background-image: linear-gradient(#db524b, #db524b 38%, #d73e36);
	border-color: #cb3029;
	box-shadow: #cb3029 0 1px inset, transparent 0 -1px .5px inset, rgba(255, 15, 15, 0.53) 0 2px .5px inset, rgba(35, 60, 237, .31) 0 0 0 .5px inset;
	text-shadow: #cb3029 0 1px .5px;
  
	/* optional */
	transform: scale(.98);
  }
  
  .text-center {
	text-align: center;
  }
  
  
  /* -------------- */
  .button-carety {
    touch-action: manipulation;
    background-image: linear-gradient(#ec972c, #ec972c 62%, #e98b15);
    border: .5px solid #e98b15;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, .12) 0 1px 3px, rgba(0, 0, 0, .14) 0 1px .5px, rgba(182, 229, 255, .4) 0 1px .5px inset, rgba(231, 255, 18, 0.46) 0 -1px .5px inset, #ffe600 0 0 0 .5px inset;
    color: #fff;
    font-weight: 600;
    outline: 3px #fff;
    outline-offset: 0;
    position: relative;
    top: 0;
    display: inline-block;
    font-size: 12px;
    line-height: 100%;
    padding: 4px 5px 4px;
    
    /* optional */
    transition-property: outline-offset, border-color, transform;
    transition-duration: .2s;
    }
    
    .button-carety:active, .button-carety:hover {
    outline: 0;
    }
    
    .button-carety:hover {
    background-image: linear-gradient(#ec972c, #ec972c 62%, #e98b15);
    box-shadow: rgba(0, 0, 0, .12) 0 2px 6px, rgba(0, 0, 0, .14) 0 1px .5px, rgba(182, 229, 255, .4) 0 1px .5px inset, rgba(255, 207, 14, 0.46) 0 -1px .5px inset, #facf22 0 0 0 .5px inset;
    opacity: 1;
    
    /* optional */
    transform: scale(1.04);
    }
    
    .button-carety:active {
    background-image: linear-gradient(#ec972c, #ec972c 38%, #e98b15);
    border-color: #eea343;
    box-shadow: #eea343 0 1px inset, transparent 0 -1px .5px inset, rgba(247, 255, 25, 0.53) 0 2px .5px inset, rgba(35, 60, 237, .31) 0 0 0 .5px inset;
    text-shadow: #eea343 0 1px .5px;
    
    /* optional */
    transform: scale(.98);
    }
    
    .text-center {
    text-align: center;
    }

    
  /* -------------- */
  .button-caretb {
    touch-action: manipulation;
    background-image: linear-gradient(#2e98ee, #2e98ee 62%, #1174ff);
    border: .5px solid #1174ff;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, .12) 0 1px 3px, rgba(0, 0, 0, .14) 0 1px .5px, rgba(182, 229, 255, .4) 0 1px .5px inset, rgba(9, 116, 255, 0.46) 0 -1px .5px inset, #113cfc 0 0 0 .5px inset;
    color: #fff;
    font-weight: 600;
    outline: 3px #fff;
    outline-offset: 0;
    position: relative;
    top: 0;
    display: inline-block;
    font-size: 12px;
    line-height: 100%;
    padding: 4px 5px 4px;
    
    /* optional */
    transition-property: outline-offset, border-color, transform;
    transition-duration: .2s;
}

.button-caretb:active, .button-caretb:hover {
    outline: 0;
}

.button-caretb:hover {
    background-image: linear-gradient(#2e98ee, #2e98ee 62%, #1174ff);
    box-shadow: rgba(0, 0, 0, .12) 0 2px 6px, rgba(0, 0, 0, .14) 0 1px .5px, rgba(182, 229, 255, .4) 0 1px .5px inset, rgba(10, 43, 230, 0.46) 0 -1px .5px inset, #226afa 0 0 0 .5px inset;
    opacity: 1;
    
    /* optional */
    transform: scale(1.04);
}

.button-caretb:active {
    background-image: linear-gradient(#2e98ee, #2e98ee 38%, #1174ff);
    border-color: #1350ec;
    box-shadow: #1350ec 0 1px inset, transparent 0 -1px .5px inset, rgba(7, 135, 241, 0.53) 0 2px .5px inset, rgba(35, 60, 237, .31) 0 0 0 .5px inset;
    text-shadow: #1350ec 0 1px .5px;
    
    /* optional */
    transform: scale(.98);
}

.text-center {
    text-align: center;
}
  /* -------------- */
  .button-caretg {
    touch-action: manipulation;
    background-image: linear-gradient(#30b243, #30b243 62%, #00ae09);
    border: .5px solid #16c133;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, .12) 0 1px 3px, rgba(0, 0, 0, .14) 0 1px .5px, rgba(182, 229, 255, .4) 0 1px .5px inset, rgba(14, 226, 60, 0.46) 0 -1px .5px inset, #11fc67 0 0 0 .5px inset;
    color: #fff;
    font-weight: 600;
    outline: 3px #fff;
    outline-offset: 0;
    position: relative;
    top: 0;
    display: inline-block;
    font-size: 12px;
    line-height: 100%;
    padding: 4px 5px 4px;
    
    /* optional */
    transition-property: outline-offset, border-color, transform;
    transition-duration: .2s;
    }
    
    .button-caretg:active, .button-caretg:hover {
    outline: 0;
    }
    
    .button-caretg:hover {
    background-image: linear-gradient(#30b243, #30b243 62%, #00ae09);
    box-shadow: rgba(0, 0, 0, .12) 0 2px 6px, rgba(0, 0, 0, .14) 0 1px .5px, rgba(182, 229, 255, .4) 0 1px .5px inset, rgba(10, 230, 25, 0.46) 0 -1px .5px inset, #22fa3b 0 0 0 .5px inset;
    opacity: 1;
    
    /* optional */
    transform: scale(1.04);
    }
    
    .button-caretg:active {
    background-image: linear-gradient(#30b243, #30b243 38%, #00ae09);
    border-color: #06d814;
    box-shadow: #06d814 0 1px inset, transparent 0 -1px .5px inset, rgba(24, 195, 12, 0.53) 0 2px .5px inset, rgba(35, 60, 237, .31) 0 0 0 .5px inset;
    text-shadow: #06d814 0 1px .5px;
    
    /* optional */
    transform: scale(.98);
    }
    
    .text-center {
    text-align: center;
    }
  /* ------------------------ */
  
  .button-vl {
	touch-action: manipulation;
	background-image: linear-gradient(#4098ff, #4058ff 62%, #4075ff);
	border: .5px solid #3247cf;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, .12) 0 1px 3px, rgba(0, 0, 0, .14) 0 1px .5px, rgba(182, 229, 255, .4) 0 1px .5px inset, rgba(23, 45, 202, .46) 0 -1px .5px inset, #233ced 0 0 0 .5px inset;
	color: #fff;
	font-weight: 600;
	outline: 3px #fff;
	outline-offset: 0;
	position: relative;
	text-shadow: #233ced 0 -1px .5px;
	top: 0;
	display: inline-block;
	font-size: 18px;
	line-height: 100%;
	padding: 8px 20px 8px;
	text-shadow: 1px 1px #000;
  
  
	/* optional */
	transition-property: outline-offset, border-color, transform;
	transition-duration: .2s;
  }
  
  .button-vl:active, .button-vl:hover {
	outline: 0;
  }
  
  .button-vl:hover {
	background-image: linear-gradient(#40a6ff, #4058ff 62%, #4075ff);
	box-shadow: rgba(0, 0, 0, .12) 0 2px 6px, rgba(0, 0, 0, .14) 0 1px .5px, rgba(182, 229, 255, .4) 0 1px .5px inset, rgba(23, 45, 202, .46) 0 -1px .5px inset, #233ced 0 0 0 .5px inset;
	opacity: 1;
  
	/* optional */
	transform: scale(1.02);
  }
  
  .button-vl:active {
	background-image: linear-gradient(#0a40ce, #4058ff 38%, #40a0ff);
	border-color: #192ba1;
	box-shadow: #0b1c95 0 1px inset, transparent 0 -1px .5px inset, rgba(13, 33, 176, .53) 0 2px .5px inset, rgba(35, 60, 237, .31) 0 0 0 .5px inset;
	text-shadow: #233ced 0 1px .5px;
  
	/* optional */
	transform: scale(.98);
  }
  


  /* Shiny badge styling */
  .storename {
    margin-left:10px;
    font-family:verdana;
    pointer-events: none;
    display: inline-block;
    padding: 0.4em 1.2em;   /* More padding on the sides to make it elongated */
    font-size: 75%;
    font-weight: 750;
    color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
    /* background: linear-gradient(145deg, #00A36C, #2AAA8A);  */
    /* background-image: linear-gradient(25deg,#d64c7f,#ee4758 50%); */
    /* background-image: linear-gradient(to top, #ad0f73 15%, #7a2ede 200%); */
    /* background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 12%, #9e26d6 100%); */
    /* background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%); */
    /* background-image: linear-gradient(to bottom, #0957d4 50%, #0957d4 50%); */
    /* background: linear-gradient(100deg, #0957d4, #0957d4);  */
    /* background: linear-gradient(100deg, #ffa65e, #fda55d); */
    background: linear-gradient(100deg, #0a81a2, #0a81a2);



    border-radius: 8px;   /* Rounded corners */
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    margin-top: 12px;
    box-shadow: inset 3px 3px 6px rgba(0,0,0,0.2), /* Inner shadow for depth */
                2px 2px 6px rgba(0,0,0,0.3);  /* Outer shadow for lift effect */
    position: relative;
    overflow: hidden;
  }
  
  /* Optional: Adding a highlight for extra shine */
  .storename::before {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    transform: rotate(-30deg);
    z-index: 1;
    pointer-events: none;
    opacity: 0.6;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  

    
  